<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appliesTo" value="https://3pt.portal.usi.gov.au/Service/v3/UsiCreateService.svc" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="WS2007FederationHttpBinding_IUSIService" maxReceivedMessageSize="1310720">
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false">
              <issuer address="https://softwareauthorisations.acc.ato.gov.au/R3.0/S007v1.3/Service.svc"
                binding="ws2007HttpBinding" bindingConfiguration="S007SecurityTokenServiceEndpointV3" />
              <issuerMetadata address="https://softwareauthorisations.acc.ato.gov.au/R3.0/S007v1.3/Service.svc/mex" />
              <tokenRequestParameters>
                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                  <trust:KeySize xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">256</trust:KeySize>
                  <trust:Claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity" xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                    <wsid:ClaimType Uri="http://vanguard.ebusiness.gov.au/2008/06/identity/claims/abn" xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity" />
                  </trust:Claims>
                  <trust:KeyWrapAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:KeyWrapAlgorithm>
                  <trust:EncryptWith xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptWith>
                  <trust:SignWith xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmldsig-more#rsa-sha256</trust:SignWith>
                  <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                  <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                  <trust:RequestType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Issue</trust:RequestType>
                  <trust:TokenType>http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0</trust:TokenType>
                </trust:SecondaryParameters>
              </tokenRequestParameters>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <ws2007HttpBinding>
        <binding name="https://authentication.business.gov.au/R3.0/vanguard/S007v1.3/Service.svc">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="S007SecurityTokenServiceEndpointV3" sendTimeout="00:02:00">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Basic256Sha256Rsa15"
              establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="https://3pt.portal.usi.gov.au/Service/v3/UsiCreateService.svc" binding="ws2007FederationHttpBinding" bindingConfiguration="WS2007FederationHttpBinding_IUSIService" contract="UsiCreateServiceReference.IUSIService" name="WS2007FederationHttpBinding_IUSIService" />
      <endpoint address="https://softwareauthorisations.acc.ato.gov.au/R3.0/S007v1.3/service.svc" behaviorConfiguration="stsEndpointBehavior" binding="ws2007HttpBinding" bindingConfiguration="S007SecurityTokenServiceEndpointV3" contract="System.ServiceModel.Security.IWSTrustChannelContract" name="S007SecurityTokenServiceEndpointV3" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="stsEndpointBehavior">
          <clientCredentials useIdentityConfiguration="true" />
        </behavior>
        <behavior>
          <clientCredentials useIdentityConfiguration="true">
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>

  <!-- Comment out to bypass proxy (e.g. BURP) -->
  <system.net>
    <defaultProxy>
      <proxy  proxyaddress="http://localhost:8080" />
    </defaultProxy>
  </system.net>
  
</configuration>
